<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labor.mapper.GroupMapper">
      <select id="getGroupNameByCom" resultType="com.labor.entity.Group">
          select id,group_name from t_group where company_id=#{companyId}
      </select>


    <select id="getCompanyInfoByNameAndPrincipal" resultType="com.labor.entity.Group">
        select id, group_name, group_principal, principal_id, company_id, company_name, enter_attachment, DATE_FORMAT(enter_time, '%Y-%m-%d') as enter_time, DATE_FORMAT(out_time, '%Y-%m-%d') as out_time, remark, creater, DATE_FORMAT(create_at, '%Y-%m-%d') ascreate_at, DATE_FORMAT(update_at, '%Y-%m-%d') as update_at from t_group gp
        where 1 = 1
        <if test="groupName != null and groupName != ''">
            and UPPER(gp.group_name) like UPPER(CONCAT('%',#{groupName,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="groupPrincipal != null and groupPrincipal != ''">
            and UPPER(gp.group_principal) like UPPER(CONCAT('%',#{groupPrincipal,jdbcType=VARCHAR}, '%'))
        </if>
    </select>
</mapper>
